%footer#footer.clearfix{ role: 'footer' }
	.center
		%p.copyrights
			%span.copyright-sign &copy;
			%span 2013 Madmaker.
			%span.rights All rights reserved.

		%a.go-to-top.js-link-to{ href: '#header' }
			%span Go to top

%script{ src: "//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js" }
%script{ src: "js/vendor/jquery.flexslider-min.js" }
%script{ src: "js/app.js" }