%header#header.clearfix
	.center
		%h1#logo
			%a{ href: '/' }

		%nav#nav
			%ul
				%li
					%a.active{ href: '#home-bg' } home
				%li
					%a{ href: '#services' } service
				%li
					%a{ href: '#work' } our work
				%li
					%a{ href: '#hire-us' } connect