%header#header.clearfix
	#header-inner
		.center
			%h1#logo.total-center
				%a{ href: '/' } MadMaker

			%a#site-name{ href: '/' }

			%a.hire-us-btn.js-link-to{ href: '#hire-us' }
				%span.text Hire us now
				%span.icon.envelope

			%nav#nav
				%ul
					%li
						%a.active{ href: '#header' } home
					%li
						%a{ href: '#services' } service
					%li
						%a{ href: '#work' } our work
					%li
						%a{ href: '#collab' } connect