%section#home-bg.clearfix
	#home-inner.center
		%a.hire-us-btn{ href: '#' }
			%span.text Hire us now
			%span.icon.envelope

		%h1.slogan
			We will create
			%strong your brand

		%ul.features.list
			%li.item
				.picture.green
					%span.custom-icon.total-center.computer
				%h3.title Responsive Design
				%p.desc Curabitur blandit, magna nec euismod tincidunt, odio mauris pellentesque.

			%li.item
				.picture.red
					%span.custom-icon.total-center.heart
				%h3.title Clean Design
				%p.desc Curabitur blandit, magna nec euismod tincidunt, odio mauris pellentesque.

			%li.item
				.picture.gray
					%span.custom-icon.total-center.wand
				%h3.title Incredible Features
				%p.desc Curabitur blandit, magna nec euismod tincidunt, odio mauris pellentesque.