%section#services.clearfix
	#services-inner.center
		%h2.section-title
			Our
			%span
				%strong Services

		%section.services-list
			%a.arrow-bg.arrow-left{ href: '#' }
				%i.arrow
			%a.arrow-bg.arrow-right{ href: '#' }
				%i.arrow

			%ul.list.service-boxes
				%li.item
					.picture
						%span.custom-icon.total-center.computer2
					%h3.title Webdesign
					%p.desc All the info everybody needs to wow your customers is always right at your fingertips.

				%li.item
					.picture
						%span.custom-icon.total-center.heart2
					%h3.title Icon design
					%p.desc All the info everybody needs to wow your customers is always right at your fingertips.

				%li.item
					.picture
						%span.custom-icon.total-center.document
					%h3.title HTML5 + CSS3
					%p.desc All the info everybody needs to wow your customers is always right at your fingertips.

		%p.info-text
			Click on the box to read more about
			%strong our services.