%section#work.clearfix
	.shadow
	#work-inner.center
		%h2.section-title
			%strong Our Work

		#slider.flexslider
			%ul.slides
				%li
					%img{ src: 'images/portfolio/supporttask/screenshot.jpg' }

				%li
					%img{ src: 'images/portfolio/supporttask/screenshot.jpg' }
					.description
						%img.customer-logo{ src: 'images/portfolio/supporttask/logo.gif' }
						.content
							%h5.customer-name Supporttask.com
							%p.customer-quotation "It was a revolution in our service and support culture."
						%a.redirect-to{ href: 'http://supporttask.com', target: '_blank' }