#header {
	background-color: #23303d;
	padding-top: 65px;

	#logo {
		background: url(../images/logo.png) no-repeat;
		margin: 0 auto;
		width: 60px;

		a {
			display: block;
			width: 60px;
			height: 74px;
			text-indent: -9000em;
		}
	}

	#nav {
		position: absolute;
		top: 34px;
		right: 40px;

		li {
			display: inline;
			margin: 0 16px;

			a {
				color: #697d92;
				text-transform: uppercase;
				font-size: 14px;

				&.active {
					color: #fff;
					font-weight: bold;
				}

				&:hover { color: #fff; }
			}
		}
	}
}

#home-bg {
	background: #23303d url(../images/home-bg.png) no-repeat 50% 60px;
	padding-top: 60px;
	height: 582px;

	#home-inner {
		padding-top: 160px;
	}
}

#services {
	background: #e7ebc7 url(../images/services-bg.png) no-repeat 50% 0;
	min-height: 300px;

	#services-inner {}
}

#work {
	background: #ec563c url(../images/work-bg.png) no-repeat 50% 100%;

	#work-inner { height: 698px; }
}

#collab {
	background-color: #fff;
	height: 500px;
}

#hire-us {
	background-color: #27b99a;
	height: 500px;
	#hire-us-inner {

	}
}

#footer {
	height: 160px;
	background-color: #00a184;
}