@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}


body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	font-weight: 300;
	color: #697d92;
	font-size: 14px;
}

a {
	text-decoration: none;
}

strong { font-weight: 700; }

.slogan {
	color: #fff;
	font-size: 60px;
	text-align: center;
}

.section-title {
	font-size: 48px;
	text-align: center;
}

#services {
	.section-title {
		color: #35495e;
		line-height: 240px;
		span { color: #ec563c; }
	}
}

#work {
	.section-title {
		color: #fff;
		line-height: 190px;
	}
}

#collab {
	.section-title {
		color: #35495e;
		margin-top: 245px;
		font-weight: 400;
	}
}

#hire-us {
	.section-title {
		color: #fff;
	}
}